{% extends "layout.html" %}

{% block gmap_script %}
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"> </script>

  <script type="text/javascript">
    function initialize() {
      var latlng = new google.maps.LatLng(43.611005,3.878989);
      var myOptions = {
          zoom: 12,
          center: latlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
      var markers = Array();
      {% for marker in markers %}
        markers.push(new google.maps.Marker({
          position: new google.maps.LatLng({{ marker.latitude }}, {{ marker.longitude }}),
          map: map
        }));
      {% endfor %}
    }

    $(function() {
        initialize();
    });
  </script>
{% endblock %}

{% block main %}
<div id="map_canvas" style="width:100%; height:100%"> </div>
{% endblock %}
